@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  button {
    @apply py-2 px-2 rounded-md focus:outline-none;
  }
}

@layer components {
  .btn-theme {
    @apply bg-gray-300 border-2 border-transparent shadow dark:bg-gray-600 hover:border-gray-500 dark:hover:border-gray-300;
  }

  .btn-projects {
    @apply flex items-center hover:bg-gray-300 dark:hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500 dark:focus:ring-gray-300 transition-colors duration-300;
  }

  .link {
    @apply cursor-pointer bg-clip-text text-transparent bg-gray-700 dark:bg-gray-300 hover:bg-gradient-to-r from-purple-300 to-green-500;
  }

  .intro_text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-purple-300 to-green-500 text-center md:text-justify;
  }
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #6d9dc5;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
